[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
gremlinpython = "==3.4.1"
elasticsearch = "==5.5.3"
pipfile = "*"
pymysql = "*"


[dev-packages]
pyspark = "==3.2.2"
ipython = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
